.tasks{
    width: 300px;
    padding: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}

.tasks .task{
    padding: 8px 5px;
    border-bottom: 1px solid var(--vscode-panel-border);
    font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.tasks .task:hover {
    background: var(--vscode-list-hoverBackground);
}

.tasks .task .title{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tasks .task .icon{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    animation: task-loading 2s infinite linear;
}

@keyframes task-loading{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}

.tasks .empty{
    text-align: center;
    margin-top: 20px;
    opacity: 0.84;
}